<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
<h1>Edit User {{user.id}}</h1>
<form action='update' method='post'>
	{% csrf_token %}
	<label for='first_name'>First Name:</label>
	<input type="text" name="first_name" value='{{user.first_name}}'>

	<label for='last_name'>Last Name:</label>
	<input type="text" name="last_name" value='{{user.last_name}}'>

	<label for='email'>Email:</label>
	<input type="text" name="email" value='{{user.email}}'>

	<input type="submit" name="submit" value='Update'>
</form>
<p><a href="/users/{{user.id}}">Show</a> | <a href="/">Go Back</a></p>
</body>
</html>