<!DOCTYPE html>
<html>
<head>
	<title>Delete a course</title>
</head>
<body>
<h2>Are you sure you want to delete the following course?</h2>
<table>
	<tr>
		<td>Name:</td>
		<td>{{course.name}}</td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>{{course.desc}}</td>
	</tr>
</table>
<form action='/'>
	{% csrf_token %}
	<input type="submit" name="no" value="No">
</form>
<form action="/courses/{{course.id}}/destroy_confirm" method='post'>
	{% csrf_token %}
	<input type="submit" name="yesdestory" value="Yes, I want to delete this">
</form>
</body>
</html>